.navbar {
    position: fixed;
    width: 100vw;
    box-shadow: 0 4px 8px 0px lightgray;
    .navbar__container {
        width: 85%;
        height: 70px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.navbar__logo {
    font-family: 'Cinzel';
    text-shadow: -1px 1px 1px #737272;
    letter-spacing: 0.10em;
    font-size: 25px;
    color: #000;
}

.nav-list {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 3.2px;
    .nav-list__item {
        height: 100%;
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
        a {
            text-decoration: none;
            color: grey;
            transition: 0.3s;
        }
    }
    .nav-list__item:hover {
        transition: 1s;
        border-bottom: 2px solid #ff4500;
        a {
            transition: 1s;
            color: #000;
        }
    }

    
}
