@import './reset';
@import './navbar';
@import './header';
@import './about';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Open Sans'; 
    position: relative;
    scroll-behavior: smooth;
}
